<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Favorit Page</title>
  <link rel="stylesheet" href="../css/default.css">
</head>

<body>
  <div class="contain">
    <div class="main">
      <div class="data_table">
        <table id="grid">
          <!--기본 틀-->
          <!--
              radio의 name은 radio들을 묶는다.
              dataId : 기본키 고유키
              label의 for은 input의 id와 같으면 label을 클릭해도 input이 활성화 된다.
            -->
          <!--
              <tr>
                  <td>
                    <input type="radio" id="dataId"
                    <label for="dataId">Empty_1</label>
                  </td>
              </tr>
            -->
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="interface right">
        <input type="button" class="right" name="set" value="set">
        <input type="button" class="right" name="add" value="add">
      </div>
    </div>
    <div class="sub right">
      <div class="sub_center">
        <input type="button" class="right" name="cancel" value="cancel">
        <form method="post" id="default_form">
          <input type="radio" id="url" name="state" value="url" class="none" checked>
          <label for="url">URl</label>
          <input type="radio" id="dir" name="state" value="dir" class="none">
          <label for="dir">DIR</label>
          <!-- onfoucs <-> onblur :focus일때 focus를 잃었을때 -->
          <div id="data" class="default_backColor">
            <input type="hidden" name="id" value="">
            <input type="text" name="name" class="inputSet" placeholder="name" title="name title">
            <input type="text" name="url"  class="inputSet" placeholder="url"  title="url title">
            <input type="text" name="describe" class="inputSet" placeholder="describe" title="describe title">
          </div>
            <input type="button" class="right" name="delete" value="delete">
            <input type="submit" class="right" name="save" value="save">
        </form>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/popup/readTag.js"></script>
<script type="text/javascript" src="../js/popup/event.js"></script>
<script type="text/javascript" src="../js/popup/setting.js"></script>
<script type="text/javascript" src="../js/popup/function.js"></script>

</html>
