<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Favorit Page</title>
  <link rel="stylesheet" href="../css/default.css">
</head>

<body>
  <div class="contain">
    <button type="button" id="vertualDataList" name="button"  style="width:100px;">가상 데이터 입력</button>
    <button type="button" id="vertualDatadelete" name="button"  style="width:100px;">가상 데이터 삭제</button>
    <div class="main">
    </div>
    <div class="interface">
    </div>
    <div class="sub">
    </div>
  </div>
  
</body>
<script type="text/javascript" src="../js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/popup/event.js"></script>
<script type="text/javascript" src="../js/popup/setting.js"></script>
<script type="text/javascript" src="../js/popup/readTag.js"></script>
<script type="text/javascript" src="../js/popup/function.js"></script>
</html>
