body {
  margin: 0px;
  padding: 0px;
}
ul {
  padding: 0 0 0 10px;
  margin: 0px;
}
li {
  list-style: none;
}
input[type=radio]{
  display: none;
}
input[type=radio]:checked + label{
  background: aqua;
}
label{
  user-select: none;
}
label:hover {
  background: blue;
}
input[data-state='1']+label{
  cursor: pointer;
}

.contain {
  background: gray;
  display: grid;
}
.main {
  min-width: 300px;
  width: 100%;
  background: red;

}
.interface {
  min-width: 300px;
  width: 100%;

}
.sub {
  min-width: 300px;
  width: 100%;
}

/***drop down css***/
ul li~ul[data-open='0']{
  display: none;
}
