body {
  margin: 0px;
  padding: 0px;
}

ul {
  padding: 0 0 0 10px;
  margin: 0px;
}

li {
  list-style: none;
}

input[type=radio]{
  display: none;
}

input[type=radio]:checked + label{
  background: aqua;
}

label {
  cursor: pointer;
}
label:hover {
  background: blue;
}

.contain {
  background: gray;
  display: grid;
}

.main {
  min-width: 300px;
  width: 100%;
  background: red;

}

.interface {
  min-width: 300px;
  width: 100%;

}

.sub {
  min-width: 300px;
  width: 100%;

}
